<section id="footer">
  <div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <img src="/img/logotext.png" width="250" height="125" class="d-inline-block align-top" alt="">
        </div>
        <div class="col-lg-3 col-xs-12 links my-3">
          <h4 class="mt-lg-0 mt-sm-3">Links</h4>
          <ul class="m-0 p-0">
            <li><a href="/">Home</a></li>
            <li><a href="/builder">Rod Builder</a></li>
            <li><a href="/rods#page=1">Rods</a></li>
            <li><a href="/reels#page=1">Reels</a></li>
            <li><a href="/lines#page=1">Lines</a></li>
            <li><a href="/feed?page=1&limit=10">Completed Rods</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign up</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location my-3">
          <h4 class="mt-lg-0 mt-sm-4">Contact</h4>
          <p><i class="far fa-envelope mr-3"></i>rodriggerwebsite@gmail.com</p>
          <p><a href="https://www.facebook.com/Rod-Rigger-102605408009440/" target="_blank"><i class="fab fa-facebook-f mr-3"></i>Rod Rigger</a></p>
          <p><a href="https://www.instagram.com/rod_rigger/" target="_blank"><i class="fab fa-instagram mr-3"></i>@rod_rigger</a></p>
          <p><a href="https://www.reddit.com/user/rodrigger" target="_blank"><i class="fab fa-reddit mr-3"></i>U/rodrigger</a></p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
  </div>

</section>
