<h6>CATEGORY</h6>
<div id="categories">
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="saltwater" value="saltwater">
    <label class="form-check-label" for="saltwater">Saltwater</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="freshwater" value="freshwater">
    <label class="form-check-label" for="freshwater">Freshwater</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="fly" value="fly">
    <label class="form-check-label" for="fly">Fly</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="braid" value="braid/super">
    <label class="form-check-label" for="braid">Braid/Super</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="copolymer" value="copolymer">
    <label class="form-check-label" for="copolymer">Copolymer</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="fluorocarbon" value="fluorocarbon">
    <label class="form-check-label" for="fluorocarbon">Fluorocarbon</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="tippet" value="leader/tippet">
    <label class="form-check-label" for="tippet">Leader/Tippet</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="leader" value="leader">
    <label class="form-check-label" for="leader">Leader</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="mono" value="monofilament">
    <label class="form-check-label" for="mono">Monofilament</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="wire" value="wire/lead core">
    <label class="form-check-label" for="wire">Wire/Lead Core</label>
  </div>
</div>
