<h6>CATEGORY</h6>
<div id="categories">
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="saltwater" value="saltwater">
    <label class="form-check-label" for="saltwater">Saltwater</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="freshwater" value="freshwater">
    <label class="form-check-label" for="freshwater">Freshwater</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="fly" value="fly">
    <label class="form-check-label" for="fly">Fly</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="casting" value="casting">
    <label class="form-check-label" for="casting">Casting</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="float" value="float/centerpin">
    <label class="form-check-label" for="float">Float/Centerpin</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="inline" value="inline">
    <label class="form-check-label" for="inline">Inline</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="mooching" value="mooching">
    <label class="form-check-label" for="mooching">Mooching</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="spincasting" value="spincasting">
    <label class="form-check-label" for="spincasting">Spincasting</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="spinning" value="spinning">
    <label class="form-check-label" for="spinning">Spinning</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input checkbox category" id="trolling" value="trolling">
    <label class="form-check-label" for="trolling">Trolling</label>
  </div>
</div>
