<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style/style.css'> -->
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Success</h1>
    <p>You are logged in</p>

    <a href="/">Home</a>


  </body>
</html>
